{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {},
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": [ "**/spec.js", ".mochaenv.js" ],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": true,
        "assert": true,
        "clearModule": true
      },
      "rules": {
        "no-empty-function": 0,
        "no-console": 0
      }
    },
    {
      "files": [ "**/cli.js" ],
      "rules": {
        "no-console": 0
      }
    }
  ]
}
